<div id="about_page" class="container" style="padding-top: 60px;">

    <div class="row" style="padding-top: 50px;">

        <div class="col-md-4">
            <img src="../images/powertech-logo.png" alt="Generic placeholder image" width="350" height="190">

            <!--<div class="ptr-logo"></div>-->
        </div>
        <div class="col-md-8">

            <p style="text-indent: 50px;">
                PowerTech is a partnership between Eric Lantz and Richard Henry.
                Eric Lantz has a degree in Agriculture Engineering.  Throughout his career, he has designed and supervised
                the building of numerous machines for manufacturers of various products.
                Machines ranged from assembly systems, welding systems and material handling systems.
                Currently, he designs fabricated assemblies and photovoltaic arrays.
                Also, he is skilled at Solidworks CAD software, welding and machining.
            </p>

            <br>

            <p style="text-indent: 50px;">
                Richard Henry founded the original business in 1976 which evolved over the years into PowerTech.
                Throughout his career, he has provided concept designs for equipment modifications,
                machines for manufacturing production and equipment repair.
                Currently, he provides clients with guidance for welding repairs and oversees in-house
                welding plus mobile welding services.  He is skilled at welding steel, aluminum, stainless steel and cast iron.
            </p>

        </div>
    </div>

</div>