<div class="container" style="padding-top: 80px;">

    <div class="row">

        <div class="col-md-3" style="padding-top: 15px;">
            <img class="img-circle center-block" src="./images/pline_boring.jpg" alt="Generic placeholder image" width="150" height="150">

            <h3 class="text-center">Richard Henry</h3>
            <p class="text-center">402-676-2115</p>
            <p class="text-center"><a href="mailto:rhenry@powertechrenewable.com">rhenry@powertechrenewable.com</a></p>
        </div>

        <div class="col-md-6">

            <iframe class="center-block" width="550" height="400" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBuj0wcpLe7gtQL7p1JpSlkR0DC9nc4CLk&q=44154+Pioneer+Trail,+Carson,+IA+51525" allowfullscreen>
            </iframe>

        </div>

        <div class="col-md-3" style="padding-top: 15px;">
            <img class="img-circle center-block" src="./images/pline_boring.jpg" alt="Generic placeholder image" width="150" height="150">

            <h3 class="text-center">Eric Lantz</h3>
            <p class="text-center">402-676-0255</p>
            <p class="text-center"><a href="mailto:elantz@powertechrenewable.com">elantz@powertechrenewable.com</a></p>

        </div>

    </div>
</div>