<footer class="footer-basic-centered" style="position: relative; bottom: 0; width:100%;">

    <p class="footer-links">
        <a href="#">Home</a> |
        <a href="#about">About</a> |
        <a href="#contact">Contact</a>
    </p>

    <p class="footer-company-name">PowerTech Renewable &copy; 2015</p>

</footer>