
<img id="homeimage" src="./images/repairing_excavator_arm.jpg">


<div class="container marketing"  style="text-align: center">
    <div class="row">
        <div class="col-lg-3">
            <img class="img-circle" src="./images/weld_buildup.jpg" alt="Generic placeholder image" width="190" height="190" >

            <h3>Portable Automatic Bore Welding</h3>
            <p>
                Automatic bore welding of oversized bores is a process to add weld onto the bore diameter for
                preparation of the line boring process.  Automatic settings provide circular welds, segment
                welds or skip welds.  Bore welding utilizes the same mounting system as the line boring
                equipment.  Welding can be provided in our shop or on the job site.
            </p>
        </div>

        <div class="col-lg-3">
            <img class="img-circle" src="./images/EquipmentRepair.jpg" alt="Generic placeholder image" width="190" height="190">

            <h3>In-house Equipment Repair And Fabrication</h3>
            <p>
                Metal repair of earth-moving equipment, agriculture equipment and fabricated components.
                Repairs include fabrication of new components, machining and welding.
            </p>
        </div>

        <div class="col-lg-3">
            <img class="img-circle" src="./images/line_boring.jpg" alt="Generic placeholder image" width="190" height="190">

            <h3>Portable Line Boring</h3>
            <p>
                Line boring is the process of enlarging a hole by means of a single point tool.  Boring is used to
                achieve greater accuracy of the diameter of the hole.  Line boring multiple aligned holes
                provides high accuracy alignment between the holes.  Boring can be provided in our shop or on
                the job site.
            </p>
        </div>

        <div class="col-lg-3">
            <img class="img-circle" src="./images/mobile_welding_repair_equipment.jpg" alt="Generic placeholder image" width="190" height="190">

            <h3>Portable Welding Service</h3>
            <p>
                Service capabilities include, MIG Welding; SMAW Welding; Plasma Cutting; Oxygen-Acetylene
                Cutting; Air Carbon Arc Cutting-Gouging and Hard Facing.
            </p>
        </div>
    </div>


    

</div>